<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <div lang="en" th:replace="fragments/header :: header"></div>
    <div lang="en" th:replace="fragments/visualisation :: visualisation"></div>

    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            if (visualisationPossible([[${rainResult.sourceArray}]])) {
                visualiseRain([[${rainResult.sourceArray}]], [[${rainResult.waterToFill}]]);
            } else {
                showNoVisualisationMessage();
            }
        });
    </script>

</head>
<body>
<div class="jumbotron text-center">
    <p>Here is the parsing result.</p>
</div>

<div class="container">
    <h1 id="water-volume">Total water volume is [[${rainResult.volume}]].</h1>
    <div class="alert alert-warning" id="noVisualisationWarning" style="display: none">
        Please note: no visualisation happened.
        Visualisation happens only for arrays with length up to 12, and their numbers between 0 and 11.
    </div>

</div>

<div class="container">
    <div lang="en" th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>
