<!DOCTYPE HTML>
<html>
<head>
    <title>Welcome to Rainy Hills application!</title>
    <div lang="en" th:replace="fragments/header :: header"></div>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Hello and Welcome to Rainy Hills application!</h1>
    <p>Please select one of ways to enter data.</p>
</div>

<div class="container">


    <table style="width: auto;" class="table table-striped">
        <tr>
            <td>Quick input data with values from first task ([3, 2, 4, 1, 2])</td>
            <td>
                <p class="text-right">
                    <a href="/rainyhills/rainWithTask1" class="btn btn-primary" role="button">Go</a>
                </p>
            </td>
        </tr>
        <tr>
            <td>Quick input data with values from second task ([4, 1, 1, 0, 2, 3])</td>
            <td>
                <p class="text-right">
                    <a href="/rainyhills/rainWithTask2" class="btn btn-primary" role="button">Go</a>
                </p>
            </td>
        </tr>
        <tr>
            <td>Enter data with .csv file</td>
            <td>
                <form method="POST" enctype="multipart/form-data" action="/rainyhills/rainWithFile">
                    <div class="form-group">


                        <div class="input-group">
                            <label class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        Browse&hellip; <input type="file" style="display: none;" name="csvFile" required>
                    </span>
                            </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <p class="text-right">
                            <button type="submit" class="btn btn-primary" disabled>Upload</button>
                        </p>

                    </div>
                </form>
            </td>
        </tr>
    </table>

</div>

</body>
</html>